@charset "UTF-8";

html, body {
		font-size: 100%;
		width: 100%;
		height: 100%;
		margin: 0;
		vertical-align: baseline;
	}
	body {
		font: 13px/21px "Open Sans", Arial, sans-serif;
		color: #777777;
		background-color: white;
		overflow-x: hidden;
		font-style: normal;
	}
	
	a {
		color: #FFE650;
		text-decoration: none !important;
	}
	a:hover{
		color: #FFAF0A;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: "Open Sans", Arial, sans-serif;
		color: #2a3f52;
		font-weight: 700;
	}
	h1 {
		font-size: 2.6em;
	}
	
	h2 {
		font-size: 2.2em;
	}
	
	h3 {
		font-size: 1.8em;
	}
	
	h4 {
		font-size: 1.4em;
	}
	
	h5 {
		font-size: 1em;
	}
	
	h6 {
		font-size: .8em;
	}
	ul,
	ol {
		margin-top: 0;
		margin-bottom: 10px;
	}
	ul ul,
	ol ul,
	ul ol,
	ol ol { 
		margin-bottom: 0;		
	}

	.site-header{
		background-color:white;
		height:25%;
		width:100%;
	}
	.top-header{
		position:relative;
		text-align:center;
		height:15%;
		border-bottom: 1px solid #FAF58C; 
	}
	.top-header-left{
		position:absolute;
		width:15em;
		top:50%;
		left:20%;
		transform:translate(-50%,-50%);	/* div안에 div 세로정렬하기 */
	}
	.top-header-left a{
		border-left: 1px solid #FAF58C;
		font-size:1.3em;
		padding:3%;
	}
	.top-header-left a:last-child{
		border-right: 1px solid #FAF58C;
	}
	.main-header{
		position:relative;
		height:50%;
		text-align:center;
		margin-top: 2%;
	}
	.logo h1{
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);	/* div안에 div 세로정렬하기 */
		margin: 0;
	}
	.main-header a{
		font-size:2.6em;
	}
	.main-nav{
		height:25%;
		color: white;
		text-align: center;
	}
	.main-nav ul{
		background-color: #FFE650;
		list-style: none;
	}
	.main-nav .list-menu ul li{
		display: inline-block;
		padding: 20px 80px;
		border-left: 1px solid #FAF58C;
	}
	.main-nav .list-menu ul li:last-child {
		border-right: 1px solid #FAF58C;
	}
	.main-nav a{
		color:white;
	}
	.main-nav .list-menu ul li a {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 700;
	}
	.main-nav .list-menu ul li a:hover {
		color: #FFAF0A;
	}
	.fixed {
		position:fixed;
		top:0px;
	}

	.main-content{
		width:450px; 
		margin:8% auto;  
	}
	.event, .recommend-space, .recommend-seller{
		display:table;
		text-align:center; 
		margin: 3% auto; 
	}
	.event{  
		height:30%;
	}
	.event-content img{
		width:100%;
		height:100%;
	}
	.recommend-space, .recommend-seller{
		height:40%;
	}
	.event-content, .r-space-content, .r-seller-content{
		margin: 1% 0;
	}
	#r-space-table{
		text-align:center;
		margin: 0 auto; 
	}
	#r-space-table img{
		width:90%;
	}
	#r-space-table td{
		text-align:center;
	}
	#r-seller-table{
		text-align:center;
		margin: 0 auto; 
	}
	#r-seller-table img{
		width:90%;
	}
	#r-seller-table td{
		text-align:center;
	}
	.login-logo #logo-login{
		width:450px;
		height:450px; 
		padding-top: 10px;
		padding-bottom: 10px; 
	}
	#tableAccount , #tableMemInfo {
		border:solid 1px; 
		text-align:center;
	} 
	.signUp-MemAccount, .signUp-MemInfo{
		padding:10px; 
	}
	.signUp-table tr{
		height:30px; 
	}
	.signUp-btn{
		float:none;
		text-align:center;
	}
	#td-1{
		width:150px;
		border-right:solid 1px;
	}
	#td-2{
		width:300px;
	} 
	#td-2 input{
		width:200px;
		border:none;
	}
		.member-Type{  
	  position: relative;
	  display: inline-flex;  
	  width:450px;
	  margin: 0 auto; 
	  background: rgba(255,255,255,.1); 
	}    
	.member-Type input[type=radio]{
	  display: none; 
	}  
	.member-Type label{
	  display: inline-block;  
	  width: 200px;
	  height: 50px;
	  text-align: center; 
	  background: orange;  
	} 
	.toggle_option_slider{  
	  background: red;
	  width: 195px;
	  height: 50px;
	  position: absolute; 
	  top: -2px; 
	  border: solid 2px #FF3232;  
	}
	#first_toggle:checked ~ .toggle_option_slider{
	  background: rgba(255,255,255,.3);
	  left: 26px;
	}
	#second_toggle:checked ~ .toggle_option_slider{
	  background: rgba(255,255,255,.3); 
	  left: 229px; 
	}
	#btn-Member-Type input {
		text-align:center;
	}
	
	
	#tableAccount , #tableMemInfo {
		border:solid 1px; 
		text-align:center;
	} 
	.signUp-MemAccount, .signUp-MemInfo{
		padding:10px; 
	}
	.signUp-table tr{
		height:30px; 
	}
	.signUp-btn{
		float:right;
	}
	#td-1{
		width:150px;
		border-right:solid 1px;
	}
	#td-2{
		width:300px;
		 
	}  
	
	.memType-Comment{
	
	}
	.memType-Select {
		margin-top:3em;
	} 
	#memType-Table {
		width:450px;
		height:450px; 
	}
	#td_seller, #td_spacer {
		width:225px;
		height:225px;
	}
	#td_seller button, #td_spacer button {
		border:none;
		width:100%;
		height:100%;
		background-color:yellow;
	}
	
	.login-logo #logo-login{
		width:450px;
		height:450px; 
		padding-top: 10px;
		padding-bottom: 10px; 
	}
	.member-Type{  
	  position: relative;
	  display: inline-flex;  
	  width:450px;
	  margin: 0 auto; 
	  background: rgba(255,255,255,.1); 
	}    
	.member-Type input[type=radio]{
	  display: none; 
	}  
	.member-Type label{
	  display: inline-block;  
	  width: 200px;
	  height: 50px;
	  text-align: center; 
	  background: orange;  
	  line-height:50px;
	} 
	.toggle_option_slider{  
	  background: red;
	  width: 195px;
	  height: 50px;
	  position: absolute; 
	  top: -2px; 
	  border: solid 2px #FF3232;  
	}
	#first_toggle:checked ~ .toggle_option_slider{
	  background: rgba(255,255,255,.3);
	  left: 26px;
	}
	#second_toggle:checked ~ .toggle_option_slider{
	  background: rgba(255,255,255,.3); 
	  left: 229px; 
	}
	.login-Form{
		padding: 10px 10px; 
	}
	.login-Form input{
		border: none;
		background-color:inherit;
	}
	.login-Check{
		width:300px; 
		margin: 0 auto;
	}
	.login-Form #login-Table{
		border: solid 1px #14148C;
		margin: 1em 0em;
	}
	.login-Form tr{
		border: none;
		height:75px;  
	} 
	.login-Form #td-id{
		border-bottom: solid 1px #14148C; 
		width:300px;
	}
	.login-Form #td-btnLogin{
		border-left: solid 1px #14148C; 
		background-color:orange;
		width:150px; 
	}
	#td-id input, #td-pw input {  
		width:-webkit-fill-available;
		line-height:3em;
		font-size:16px; 
		padding : 5px 20px;
	}
	#td-btnLogin input {
		width:-webkit-fill-available;
		line-height:140px;
		font-size:16px; 
	}
	.login-Form #btnLogin{
		width:100%; 
		height:100%;
		background-color:inherit;
	}
	.login-Menu ul{
		padding-left:0;
		list-style: none;  
		display:inline-block; 
		
	}
	.login-Menu ul li{
		float:left;
		padding: 0px 10px;
		font-size:15px;  
	}
	.login-Menu a{
		text-decoration: none;
		color:black; 
	}
	#tableBasic, #tableBusi, #tableProd {
		border-style: solid 1px;
		table-layout: fixed;
	}
	#tableBasic td, #tableBusi td, #tableProd td {
		width:20%;
	}
	#tableBasic th, #tableBusi th, #tableProd th{
		width:20%;
		text-align:left;
	}
	#tableBasic input, #tableBusi input, #tableProd input {
		width:80%;
		text-align:right;
	}
	#tableBasic select, #tableBusi select, #tableProd select {
		width:80%;
		text-align:right;
	}